<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommender System</title>
</head>
<body>
    <h1>Movie Recommender System</h1>
    <form action="/recommendations" method="post">
        <label for="selected_movie">Select a movie:</label>
        <select name="selected_movie" id="selected_movie">
            {% for movie in movie_list %}
                <option value="{{ movie }}">{{ movie }}</option>
            {% endfor %}
        </select>
        <button type="submit">Show Recommendation</button>
    </form>
</body>
</html>
